@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "StartReport";
}

<div class="container vh100">
    <main role="main" class="pb-3">
        <h1>My Campaigns</h1>

        <br />
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="container row p-0 m-0">
                <div class="col-6">
                    <h2 class="text-info">Campaigns Available to report on</h2>
                </div>
                <div class="col-12 border p-3">
                    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Campaign Name</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            @section Scripts{
                <script src="~/js/newReportChooseCampaign.js"></script>
            }
        }
        else
        {
            <div class="container-fluid padding">
                <div class="row padding">
                    <div class="col-lg-6">
                        <h2>Welcome to the reports section of Metrict.</h2>
                        <p>Please login to get started.</p>
                        <br>
                        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                    <div class="col-lg-6">
                        <h2>Welcome to the reports section of Metrict.</h2>
                        <p>Please login to get started.</p>
                    </div>
                </div>
            </div>
        }
    </main>
</div>