@model Metrict.Models.EmployeeTask

@{
    ViewData["Title"] = "Edit Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container vh100">
    <main role="main" class="pb-3">
        <h1>Edit a Task</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="EmployeeTasks" asp-action="Upsert" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="TaskDescription" class="control-label"></label>
                        <input asp-for="TaskDescription" class="form-control" />
                        <span asp-validation-for="TaskDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Severity" class="control-label"></label>
                        <select asp-items="Html.GetEnumSelectList<LevelOfSeverity>()"></select>
                        <span asp-validation-for="Severity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DueDate" class="control-label"></label>
                        <input type="date" asp-for="DueDate" class="form-control" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary form-control">Edit</button>
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-danger form-control">Cancel</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>
</div>