@model Metrict.Models.CampaignUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CampaignAddUserToCampaign</title>
</head>
<body>
    <h1>New Campaign Users</h1>

    <div>
        <form asp-action="CampaignAddUserToCampaign" method="post">
            <select class="selectpicker select25p" asp-for="CampaignId" asp-items="@(new SelectList(ViewBag.ListofCampaigns, "Id", "Name"))"></select>
            <select class="selectpicker select25p" asp-for="ApplicationUserId" asp-items="@(new SelectList(ViewBag.ListofUsers, "Id", "FullName"))"></select>
            <input type="submit" value="Add New Member" />
        </form>
    </div>

    <script>
        $(function () {
            $(".selectpicker").chosen();
        });
    </script>
</body>
</html>
