@model Metrict.Models.CampaignUser

@{
    ViewData["Title"] = "Add a user to one of your campaigns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">
        <h1>New Campaign Users</h1>

        <div class="vh100">
            <form asp-action="AddUserToCampaign" method="post">
                <select class="selectpicker select25p" asp-for="CampaignId" asp-items="@(new SelectList(ViewBag.ListofCampaigns, "Id", "Name"))"></select>
                <select class="selectpicker select25p" asp-for="ApplicationUserId" asp-items="@(new SelectList(ViewBag.ListofUsers, "Id", "FullName"))"></select>
                <input type="submit" value="Add New Member" />
            </form>
        </div>

        @section Scripts{
            <script>
                $(function () {
                    $(".selectpicker").chosen();
                });
            </script>
        }
    </main>
</div>