
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

        <h1>Index</h1>

        <a asp-action="ChangeCompany">change your company</a>
    </main>
</div>  