
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container vh100">
    <main role="main" class="pb-3">
        <h1>Managers Home</h1>

        <a class="btn btn-primary btn-lg" asp-action="Reports">View all Reports</a>
        <a class="btn btn-primary btn-lg" asp-action="InviteUsers">Invite someone to use Metrict within your company</a>
    </main>
</div>